<!DOCTYPE html>
<html>
<head>
	<title>hostel app</title>
	<link rel="stylesheet" type="text/css" href="css/dashboard.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="asset/favicon.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
	<div id="navbar">
		<div class="logo" onclick="location.href='/'"></div>
		<div class="cornerBtn">
			<span onclick="location.href='/register'"><i class="far fa-user"></i>&nbspRegister</span>
			<i onclick="openhammenue(this);" class="fas fa-bars"></i>			
		</div>
	</div>
	<div id="mobileBar">
		<h2 onclick="location.href='/register'"><i class="far fa-user"></i>&nbspRegister</h2>
		<h2 onclick="location.href='/editProfile'" ><i class="fas fa-user-edit"></i>&nbspEdit your Profile</h2>
		<h2 onclick="location.href='/downloadapk'"><i class="fab fa-android"></i>&nbspDownload App</h2>
		<h2 onclick="location.href='/aboutapplication'"><i class="fas fa-info-circle"></i>&nbspAbout Application</h2>
		<h2 onclick="location.href='/authorized'"><i class="fas fa-user-lock"></i>&nbspAuthorized</h2>
	</div>
	<div id="sidebar">
		<h2 onclick="location.href='/editProfile'" ><i class="fas fa-user-edit"></i>&nbspEdit your Profile</h2>
		<h2 onclick="location.href='/downloadapk'"><i class="fab fa-android"></i>&nbspDownload App</h2>
		<h2 onclick="location.href='/aboutapplication'"><i class="fas fa-info-circle"></i>&nbspAbout Application</h2>
		<h2 onclick="location.href='/authorized'"><i class="fas fa-user-lock"></i>&nbspAuthorized</h2>
	</div>